<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Predicciones de la fecha</title>
	<link rel="stylesheet" href="./estilotabla2.css">
</head>
<body>
<ul>
	
		<% @arreglo2.each do |part| %>
	<li>
		<span class="gol local"><%= part.local %></span>
		<span class="local"><%= part.match.local.name %></span>
		<span class="vs">VS</span>
		<span class="visitante"><%= part.match.visitor.name %></span>
		<span class="gol visitante"><%= part.visitor %></span>
	</li>
	<% end %>
	<% @arreglo.each do |match| %>
	<li>
		<span class="gol local">-</span>
		<span class="local"><%= match.local.name %></span>
		<span class="vs">VS</span>
		<span class="visitante"><%= match.visitor.name %></span>
		<span class="gol visitante">-</span>
	</li>
	<% end %>
</ul>

</body>
</html>
