<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	content="width=device-width,
	inicial-scale=1.0">
	<title>Mis predicciones</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	<link rel="stylesheet" href="./estiloPre.css">
</head>

<body>
	<div class="table-title">
		<h3>Mis predicciones</h3>

	</div>

	<table class="table-fill">
		<thead>
			<tr>
				<th class="table-left">fecha</th>
				<th class="table-left">prediccion</th>
				<th class="table-left">resultado</th>
				<th class="table-left">puntaje</th>
			</tr>
		</thead>

		<tbody class="table-hover">
<% @user_forecast.find_each do |uf| %>
	<% m = @match.find_by(id: uf.match_id) %>
	<% if !(m = nill) %>
		<tr>
			<td class="text-left"><%= m.date %></td>
			<td class="text-left"><%=uf.local%><%=uf.match.local%><%=uf.match.visitor%><%=uf.visitor%></td>
			<td class="text-left"><%=m.local%>-<%=m.visitor%></td>
			<td class="text-left"><%=uf.score%></td>
		</tr>
		<% else %>
				<tr>
					<td class="text-left"><%= m.date %></td>
					<td class="text-left"><%=uf.local%><%=uf.match.local%><%=uf.match.visitor%><%=uf.visitor%></td>
					<td class="text-left">sin jugar</td>
					<td class="text-left">-</td>
				</tr>
			<% end %>
		<% end %> 			
		</tbody>
	</table>
</body>