<!DOCTYPE html>
<html lang="en">
   <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
      <!-- <link rel="stylesheet" href="./estilos2.css"> -->
      <style>
         .body {
            background: url(./img/fondo_miPerfil.png);
            background-size: 100%; 
         }
         h1, h2, h3, h4, h5 {
            border-bottom: 1px solid #ccc;
            color: #3F51B5;
            padding-bottom: 8px
         }
         .container {
            margin: auto;
            width: 350px;
            text-align: center;
         }
         /*
         .container::before {
            content:"";
            background: url(./img/fondo_miPerfil.png);
            background-size: 100%; 
            opacity: 1;
            position:absolute;
            top:0;
            bottom:0;
            right:0;
            left:0;
            width:auto;
            height:auto;
            z-index:-3;
         }
         */       
         .listFlex {display: flex; justify-content: center;}
         img {
            width: 100%;  
         }
         .span{
            color:  #ffffff;
            padding-bottom: 8px            
         }
         .buttonOrder {
            display: inline-block; 
            zoom: 1;
         }         
         /*
         Colores de la tabla: ;
         */
         thead { background-color:#EB3CFF }
         tbody { background-color:#ED94FF }
         tfoot { background-color:#ED94FF }
      </style>
   </head>

   <body class="body">
         <div class="container">
            <title>Team Profile</title>
            <link rel="stylesheet" href="./perfil.css">
             <% @arreglo.each do |user| %>

            <h1>Nombre del Equipo</h1>
            <span class="span"><%= user.name%></span>
            <h2> Escudo del Equipo </h2>
            <a href="https://www.premierleague.com/">
                  <img alt="Shield" src="<%= user.linkContent%>" width="250" height="200">
            </a>
            <h3>Ciudad del Equipo</h3>
            <span class="span"><%= user.city%></span>
            <h4>Descripcion</h4> 
            <span class="span"><%= user.description%></span>

            <h4>Estadisticas</h4>

            <%
            @arreglo_equipo = []
            @arreglo_equipo2 = []
            @partidos_jugados.each do |result|
               if ( (result.match.local_id == user.id) or ( result.match.visitor_id == user.id) )
                  @arreglo_equipo.push(result)
               end
            end

            jugados = 0.0
            victorias = 0.0
            empates = 0.0
            derrotas = 0.0
            winrate = 0.0

            @arreglo_equipo.each do |aux|
               jugados = jugados + 1
               if (aux.match.local_id == user.id)
                  if(aux.local > aux.visitor)
                     victorias = victorias + 1
                  else
                     if(aux.local == aux.visitor)
                        empates = empates + 1
                     else   
                        derrotas = derrotas + 1
                     end
                  end   
               else
                  if(aux.visitor > aux.local)
                     victorias = victorias + 1
                  else
                     if(aux.visitor == aux.local)
                        empates = empates + 1
                     else   
                        derrotas = derrotas + 1
                     end
                  end         
               end

            end
            %>
            <%winrate = (victorias/jugados)*100%>

            <table>
              <table style="border:1px solid black;margin-left:auto;margin-right:auto;">
              <!-- (A) HEAD SECTION -->
              <thead>
                <tr> <th>Comparativa</th> <th><%= user.name%></th> </tr>
              </thead>
             
              <!-- (B) BODY SECTION -->
              <tbody>
                <tr> <td>Partidos jugados</td> <td><%=jugados.to_int%></td> </tr>
                <tr> <td>Victorias</td> <td><%=victorias.to_int%></td> </tr>
              </tbody>
             
              <!-- (C) FOOT SECTION -->
              <tfoot>
                <tr> <td>Empates</td> <td><%=empates.to_int%></td> </tr>
                <tr> <td>Derrotas</td> <td><%=derrotas.to_int%></td> </tr>

                <tr> <td>Winrate</td> <td><%=winrate.to_int%>%</td>  </tr>
              </tfoot>
            </table>

            <h4>Titulos</h4>
            <div class="listFlex">
               <div>
                  <ul>
                     <span class="span"><%= user.trophies%></span>
                  </ul>
               </div>
            </div>
            <% end %>
            <h4>Botones para volver</h4>
            <button onclick="location.href = '/elegirEquipo';" style="width:130px;margin:0 auto;display:block;" id="myButton" class="buttonOrder">Ver otro perfil</button> 
            <button onclick="location.href = '/play';" style="width:130px;margin:0 auto;display:block;" id="myButton" class="buttonOrder">Volver al menú</button>            
         </div>
   </body>
</html>
<!--
            <a class="botons" href="/elegirEquipo">Ver otro perfil</a>
            <a class="botons" href="/play">Ir a play</a>

<button onclick="location.href = '/play';" style="width:130px;margin:0 auto;display:block;" id="myButton" class="buttonOrder" >Volver al menú</button>
-->