<div class="container">
   <title>Team Profile</title>
   <link rel="stylesheet" href="./perfil.css">
    <% @arreglo.each do |user| %>

   <h1>Nombre del Equipo</h1>
      <span class="name"><%= user.name%></span>
   <h2> Escudo del Equipo </h2>
   <a href="https://www.premierleague.com/">
         <img alt="Shield" src=<%= user.linkContent%>
         width=250" height="200">
      </a>
   <h3>Ciudad del Equipo</h3>
      <span class="city"><%= user.city%></span>
   <h4>Descripcion</h4> 
      <span class="name"><%= user.description%></span>
   <h4>Titulos</h4>
   <div class="listFlex">
      <div>
         <ul>
        <span class="titles"><%= user.trophies%></span>
         </ul>
      </div>
   </div>
   <% end %>
   <h4>Botones para volver</h4>
      <a class="botons" href="/elegirEquipo">Ver otro perfil</a>
        <a class="botons" href="/play">Ir a play</a>
</div>
