
<head>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
   <link rel="stylesheet" href="./estilos2.css">
</head>
<div class="container">
   <title>Team Profile</title>
   <link rel="stylesheet" href="./perfil.css">
    <% @arreglo.each do |user| %>

   <h1>Nombre del Equipo</h1>
      <span class="name"><%= user.name%></span>
   <h2> Escudo del Equipo </h2>
   <a href="https://www.premierleague.com/">
         <img alt="Shield" src=<%= user.linkContent%>
         width=250" height="200">
      </a>
   <h3>Ciudad del Equipo</h3>
      <span class="city"><%= user.city%></span>
   <h4>Descripcion</h4> 
      <span class="name"><%= user.description%></span>

<h4>Estadisticas</h4>

<%
@arreglo_equipo = []
@arreglo_equipo2 = []
@partidos_jugados.each do |result|
   if ( (result.match.local_id == user.id) or ( result.match.visitor_id == user.id) )
      @arreglo_equipo.push(result)
   end
end

jugados = 0.0
victorias = 0.0
empates = 0.0
derrotas = 0.0
winrate = 0.0

@arreglo_equipo.each do |aux|
   jugados = jugados + 1
   if (aux.match.local_id == user.id)
      if(aux.local > aux.visitor)
         victorias = victorias + 1
      else
         if(aux.local == aux.visitor)
            empates = empates + 1
         else   
            derrotas = derrotas + 1
         end
      end   
   else
      if(aux.visitor > aux.local)
         victorias = victorias + 1
      else
         if(aux.visitor == aux.local)
            empates = empates + 1
         else   
            derrotas = derrotas + 1
         end
      end         
   end

end
%>
<%winrate = (victorias/jugados)*100%>
   
<style>
thead { background-color:#EB3CFF }
tbody { background-color:#ED94FF }
tfoot { background-color:#ED94FF }
</style>

<table>
  <table style="border:1px solid black;margin-left:auto;margin-right:auto;">
  <!-- (A) HEAD SECTION -->
  <thead>
    <tr> <th>Comparativa</th> <th><%= user.name%></th> </tr>
  </thead>
 
  <!-- (B) BODY SECTION -->
  <tbody>
    <tr> <td>Partidos jugados</td> <td><%=jugados.to_int%></td> </tr>
    <tr> <td>Victorias</td> <td><%=victorias.to_int%></td> </tr>
  </tbody>
 
  <!-- (C) FOOT SECTION -->
  <tfoot>
    <tr> <td>Empates</td> <td><%=empates.to_int%></td> </tr>
    <tr> <td>Derrotas</td> <td><%=derrotas.to_int%></td> </tr>

    <tr> <td>Winrate</td> <td><%=winrate.to_int%>%</td>  </tr>
  </tfoot>
</table>


   <h4>Titulos</h4>
   <div class="listFlex">
      <div>
         <ul>
        <span class="titles"><%= user.trophies%></span>
         </ul>
      </div>
   </div>
   <% end %>
   <h4>Botones para volver</h4>
      <a class="botons" href="/elegirEquipo">Ver otro perfil</a>
        <a class="botons" href="/play">Ir a play</a>
</div>
